div{
    border: 1px solid black;
    height: 800px;
    background-image: url(https://cdn.pixabay.com/photo/2022/06/30/13/32/family-7293705_1280.png);
    background-repeat: no-repeat;
    background-size: 250px ;
    background-position: top right ;
    background-attachment: scroll                                                                                                                                                               ;

    
    
}