h1{
  background-color: rgb(250, 120, 120);
    
    text-align: center;
    text-transform: uppercase;
    
}
#main_content
{
    background-color: aqua;
    height: 200px;
    background-color: hsla(0, 30%, 48%, 0.788);

}
h1:hover{
    background-color:rgba(255,0,0,0.7);
}
p{
    background-color: #FE5900;
}

