a:link{
    color: green;
}
a:visited{
    color: black;
}
a:active{
    color: blue;
}
a{
    text-decoration: none;
}
a:hover{
    color: blueviolet;
    font-size: x-large;
}


/* div{
    border: 1px solid black ;
}
p{
    background-color: rgb(189, 81, 81);
    color: aliceblue;
}
h1:hover ~ p{
    display: inline;

} */
/* input:enabled{
    background-color: aquamarine;
    border: 1px solid rgb(2, 107, 76);
}
input:disabled{
    background-color: red;
}
input:placeholder-shown{
   color: rgb(255, 255, 255);
} */
input:focus{
    font-size: x-large;
    background-color: rgb(120, 241, 120);
}
input:required{
    background-color: aquamarine;
}
span{
    color: red;
}